.userpage__content {
    background: #f5f2f2;
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
    height: 700px;
}

.userpage-form__heading {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.userpage-table {
    margin: 20px auto;
    width: 90%;
    text-align: left;
    padding-left: 20px;
}

.userpage-table__inner {
    width: 100%;
}

.userpage-table__row {
    border-bottom: 2px solid #ddd;
    border-top: 2px solid #ddd;
}

.userpage-table__header {
    padding: 20px;
    width: 20%;
    font-weight: bold;
}

.userpage-table__item {
    padding: 20px;
    width: 20%;
}

.paginate {
    text-align: center;
}